# Dependencies
node_modules/

# Build
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
*.log

# Coverage
coverage/

# IDE
.idea/
.vscode/
